:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100svh;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  min-height: 100svh;
  padding: 25px 0;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
}

.profil-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.profil {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.fullname {
  font-size: 1.5rem;
}

.description {
  font-size: 1rem;
}

.badge-blue {
  background: #008cff36;
  padding: 2px 10px;
  border: 2px dotted #008cff;
  color: #006bc2;
  border-radius: 8px;
  font-size: 0.8rem;
}

header, section, main, footer {
  padding: 0 20px;
}

main {
  width: 100%;
  margin-top: 20px;
  background: white;
  border-radius: 10px;
  /* box-shadow: 5px 5px 10px 1px rgb(0, 0, 0, 0.025); */
  /* border: 1px solid red; */
}

ul {
  padding-left: 30px;
  padding-top: 5px;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

#users {
  font-size: .9rem;
}

table {
  width: 100%;
  margin-top: 10px;
  
}

thead tr th {
  font-weight: 400;
}

tr {
  border-bottom: 1px solid black;
}

th {
  text-align: start;
  padding: 15px 0;
  font-size: .9rem;
}

td {
   padding: 15px 0;
}

/* Modals parts */

#blur-modals {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: 10;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
}

#form {
  position: fixed;
  right: 0;
  width: 80%;
  max-width: 400px;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.1);
  border-radius: 10px;
  z-index: 20;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,.4);
  display: flex;
  justify-content: flex-end;
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.modal-content {
  background: white;
  width: 400px;
  height: 100%;
  border-radius: 0;
  transform: translateX(100%);
  transition: transform .4s ease;
  border-left: 1px dashed grey;
  position: relative;
}

.modal.show .modal-content {
  transform: translateX(0);
}

.form-group {
  padding: 0 20px;
  margin-bottom: 12px;
  display: flex;
  flex-direction: column;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}


.modal.show {
  opacity: 1;
  visibility: visible;
}

.create-user {
  padding: 5px 10px;
  border-radius: 8px;
  color: white;
  background-color: #008cff;
  border: none;
  cursor: pointer;
  transition: all .5s .1s ease-in-out;
}

.create-user:hover {
  background-color: #046abd;
}

.actions-icons {
  display: flex;
  width: 100%;
  justify-content: end;
  align-items: center;
  gap: 15px;
}

.actions-icons img {
  width: 15px;
}

.bottom-dashed-border {
  border-bottom: 1px dashed grey;
  margin: 20px 0 10px 0;
}

input, select {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  outline: 1px dashed grey;
}

select {
  background-color: transparent;
}

input:focus, select:focus {
  outline: 1px solid grey;
}

h3 {
  padding-left: 20px;
  padding-top: 20px;
  font-weight: 700;
}

label {
  font-size: .9rem;
}

.form-actions {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  padding: 20px;
  bottom: 5px;
}

.form-actions button[type="submit"] {
  padding: 10px 25px;
  color: #fff;
  background-color: #008cff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.form-actions button[type="button"] {
  padding: 10px 25px;
  color: #3b3b3b;
  background-color: #c3c3c4;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}