:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

body {
  width: 100%;
  min-height: 100svh;
  position: relative;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  min-height: 100svh;
  padding: 25px 20px;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
}

.profil-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.profil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.fullname {
  font-size: 2rem;
}

.description {
  font-size: 1rem;
}

.badge-blue {
  background: #008cff36;
  padding: 2px 10px;
  border: 2px dotted #008cff;
  color: #006bc2;
  border-radius: 8px;
  font-size: 0.9rem;
}

main {
  width: 100%;
  margin-top: 20px;
  padding: 10px 15px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.09);
  /* border: 1px solid red; */
}

i {
  background-color: rgb(255, 187, 0);
}

ul {
  padding-left: 30px;
  padding-top: 5px;
}

.table-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

table {
  width: 100%;
  margin-top: 10px;
  
}

thead tr th {
  font-weight: 600;
}

tr {
  border-bottom: 1px solid black;
}

th {
  text-align: start;
  padding: 20px 0;
}

td {
   padding: 15px 0;
}

/* Modals parts */

#blur-modals {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100svh;
  z-index: 10;
  backdrop-filter: blur(15px);
  background-color: rgba(255, 255, 255, 0.1);
}

#form {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  margin: 10px auto;
  width: 80%;
  max-width: 400px;
  min-height: 400px;
  background-color: #fff;
  box-shadow: 0 0 10px 1px rgb(0, 0, 0, 0.09);
  border-radius: 10px;
  z-index: 20;
}

.modal {
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s ease, visibility .4s ease;
}

.modal.show {
  opacity: 1;
  visibility: visible;
}

.create-user {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  background-color: #008cff;
  border: none;
  cursor: pointer;
  transition: all .5s .1s ease-in-out;
}

.create-user:hover {
  background-color: #0385f0;
}