:root {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

.poppins-thin {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.poppins-extralight {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.poppins-extrabold {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.poppins-black {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.poppins-thin-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.poppins-extralight-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.poppins-light-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.poppins-regular-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.poppins-medium-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-bold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.poppins-extrabold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.poppins-black-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100svh;
}

.wrapper {
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  min-height: 100svh;
  padding: 25px 20px;
  border-left: 1px dashed grey;
  border-right: 1px dashed grey;
}

.profil-container {
  display: flex;
  align-items: center;
  gap: 25px;
  margin-bottom: 20px;
}

.profil {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.profil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(1);
}

.fullname {
  font-size: 2.1rem;
  margin-bottom: 5px;
}

.description {
  font-size: 1rem;
}

.badge-blue {
  background: #008cff36;
  padding: 2px 10px;
  border: 2px dotted #008cff;
  color: #006bc2;
  border-radius: 8px;
}

main {
  width: 100%;
}

i {
  background-color: rgb(255, 187, 0);
}

ul {
  padding-left: 30px;
  padding-top: 5px;
}

#users {
  margin-top: 30px;
  display: grid;
  grid-template-rows: repeat(10, 50px);
  width: 100%;
  border: 1px dashed grey;
  border-radius: 10px;
}

.line {
  display: grid;
  grid-template-columns: 40px repeat(6, 1fr);
  width: 100%; 
  padding: 5px 10px;
}
